
.lista-scroll{
	overflow-y: scroll;
	max-height: 200px;
	min-height: 200px;
}
.icon-table{
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
.panel{
	overflow: hidden;
	max-height: 250px; 
	min-height: 250px;
}
.header-max{
	height: 55px;
	overflow: hidden;
}
.input-personalizado{
}
.visor-input{
	
}
.col-personalizada{
	margin-top: 5px;
	max-height: 30px;
}