
.lista-scroll{
	overflow-y: scroll;
	max-height: 200px;
	min-height: 200px;
}
.icon-table{
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
.panel{
	overflow: hidden;
	max-height: 250px; 
	min-height: 250px;
}
.header-max{
	height: 50px;
	overflow: hidden;
}