<!DOCTYPE html>
<html lang="en" ng-app="App">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ComPis - Encuentra piso</title>
    <!-- Css -->
    <link href="bootstrap-3.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="ui-navbar.css" />

    <!-- JavaScript -->
    <script src="angular-1.3.16/angular.min.js"></script>
    <script src="ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="angular-ui-router.min.js"></script>
    <script src="script.js"></script>
    <script src="ui-navbar.js"></script>

  </head>

  <body>
    <div ng-controller="NavigationController">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home">Brand</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Buscar Compañeros</a></li>
    	      <li><a href="http://www.zaragoza.es/ciudad/sectores/jovenes/cipaj/cont/insertaranuncios.htm" target="_blank">Insertar Anuncio</a></li>
    	      <li><a href="#arriba">Subir</a></li>
            <li dropdown="">
              <a href="#" dropdown-toggle="">
                        Acerca de
                                                                                                        <b class="caret"></b>
              </a>
              <tree tree="tree"></tree>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
    </div>

    <div class="container" id="arriba">
			<div class="jumbotron" style="margin-top:30px">
				<div class="row row-jumbo">
					<div class="col-sm-4 col-md-3 col-personalizada">
						<div class="input-group input-personalizado input-group-sm">
							<span class="input-group-addon">Precio max(€)</span>
							<input type="text" class="form-control" aria-label="Precio maximo" ng-model="vm.filtro.precio_maximo">
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-personalizada">
						<div class="input-group input-personalizado input-group-sm">
							<span class="input-group-addon visor-input">Habitaciones</span>
							<input type="text" class="form-control" aria-label="Habitaciones" ng-model="vm.filtro.habitaciones">
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-personalizada">
						 <div class="form-group form-group-sm">
								<select class="form-control" id="sel_genero" ng-model="vm.filtro.genero">
									<option>Ambos</option>
									<option>Compañera</option>
									<option>Compañero</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-personalizada">
						<div class="input-group input-group-sm">
							<span class="input-group-addon">Garage</span>
							<span class="input-group-addon">
								<input type="checkbox" aria-label="..." ng-model="vm.filtro.garaje">
							</span>
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-personalizada">
						<div class="input-group input-group-sm">
							<span class="input-group-addon">Mostrar elementos omitidos</span>
							<span class="input-group-addon">
								<input type="checkbox" aria-label="..." ng-model="vm.filtro.visualizacion">
							</span>
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-personalizada">
						<p><a class="btn btn-default" ng-click="vm.load()" role="button">Aplicar Filtro &raquo;</a></p>
						<!--<p><a class="btn btn-default" onClick="prueba()" role="button">Probando &raquo;</a></p>-->
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4" ng-repeat="anuncio in vm.anuncios_filtrados">
					<div class="panel panel-default">
					  	<div class="panel-heading header-max"><a  href="{{anuncio.URL}}" target="_blank">{{anuncio.titulo}}</a></div>
						<ul class="list-group lista-scroll">
							<li class="list-group-item">Descripcion:  {{anuncio.descripcion}}</li>
							<li class="list-group-item">Precio:  {{anuncio.prec}}</li>
							<li class="list-group-item">Habitaciones:  {{anuncio.hab}}</li>
							<li class="list-group-item">Calle:  {{anuncio.calle}}</li>
						  	<li class="list-group-item">Poblacion: {{anuncio.ciudad}}</li>
						  	<li class="list-group-item">Fecha: {{anuncio.fecha}}</li>
						  	<li class="list-group-item">Contacto:{{anuncio.contacto}}</li>
						  	<li class="list-group-item">Telefono: {{anuncio.telefono}}</li>
						  	<li class="list-group-item">ID: {{anuncio.id}}</li>
						</ul>
					</div>
				</div>
			</div>

		</div>



    <script src="bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap-3.3.5/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>

</html>
