<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Busqueda de Piso</title>
    <script src="angular-1.3.16/angular.min.js"></script>
    <link href="bootstrap-3.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="home.css" rel="stylesheet">
    <script src="API-Loaderv2.js"></script>
    <script src="bootstrap-3.3.5/assets/js/ie-emulation-modes-warning.js"></script>
	</head>

	<body ng-app="ComPiApp" ng-controller="controlador as vm">
		<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">ComPis</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Buscar Compañeros</a></li>
	      <li><a href="http://www.zaragoza.es/ciudad/sectores/jovenes/cipaj/cont/insertaranuncios.htm" target="_blank">Insertar Anuncio</a></li>
	      <li><a href="#arriba">Subir</a></li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	          Acerca de<b class="caret"></b>
	        </a>
	        <ul class="dropdown-menu">
	          <li><a href="#">La aplicacion</a></li>
	          <li><a href="#">El desarrollador</a></li>
	          <li class="divider"></li>
	          <li><a href="#">Colabora Ayuntamiento Zaragoza</a></li>
	        </ul>
	      </li>
	    </ul>
	        </div><!--/.navbar-collapse -->
	      </div>
	    </nav>

		<div class="jumbotron" style="margin-top:30px" id="arriba">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-personalizada">
						<div class="input-group input-personalizado input-group-sm">
							<span class="input-group-addon">Precio max(€)</span>
							<input type="text" class="form-control" aria-label="Precio maximo" ng-model="vm.filtro.precio">
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-personalizada">
						<div class="input-group input-personalizado input-group-sm">
							<span class="input-group-addon visor-input">Habitaciones</span>
							<input type="text" class="form-control" aria-label="Habitaciones" ng-model="vm.filtro.habitaciones">
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-personalizada">
						 <div class="form-group form-group-sm">
								<select class="form-control" id="sel_genero" ng-model="vm.filtro.genero">
									<option>Ambos</option>
									<option>Compañera</option>
									<option>Compañero</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-personalizada">
						<div class="input-group input-group-sm">
							<span class="input-group-addon">Garage</span>
							<span class="input-group-addon">
								<input type="checkbox" aria-label="..." ng-model="vm.filtro.garaje">
							</span>
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-personalizada">
						<div class="input-group input-group-sm">
							<span class="input-group-addon">Mostrar elementos omitidos</span>
							<span class="input-group-addon">
								<input type="checkbox" aria-label="..." ng-model="vm.filtro.visualizacion">
							</span>
						</div>
					</div>
					<div class="col-sm-4 col-md-3 col-personalizada">
						<p><a class="btn btn-default" ng-click="vm.load()" role="button">Aplicar Filtro &raquo;</a></p>
						<p><a class="btn btn-default" onClick="prueba()" role="button">Probando &raquo;</a></p>
					</div>
				</div>
			</div>	
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4" ng-repeat="anuncio in vm.anuncios_filtrados">
					<div class="panel panel-default">
					  	<div class="panel-heading header-max"><a  href="{{anuncio.URL}}" target="_blank">{{anuncio.titulo}}</a></div>
						<ul class="list-group lista-scroll">
							<li class="list-group-item">Descripcion:  {{anuncio.descripcion}}</li>
						  	<li class="list-group-item">Contacto:{{anuncio.contacto}}</li>
						  	<li class="list-group-item">Telefono: {{anuncio.telefono}}</li>
							<li class="list-group-item">Precio:  {{anuncio.vPrecio}}</li>
							<li class="list-group-item">Habitaciones:  {{anuncio.vHab}}</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
		


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap-3.3.5/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>